{erl_opts, [debug_info, warn_untyped_record, warnings_as_errors]}.

{cover_export_enabled, true}.
{cover_enabled, true}.
{deps, [
        {rocksdb, ".*", {git, "https://gitlab.com/Vagabond1/erlang-rocksdb.git", {branch, "master"}}}
       ]}.

{dialyzer, [
            {warnings, [unknown]},
            {plt_apps, all_deps}
           ]}.
