%% -*- erlang -*-

{erl_opts,
 [
  {parse_transform, lager_transform},
  debug_info,
  warn_untyped_record,
  warnings_as_errors
 ]}.

{project_plugins,
 [
  {rebar3_eqc, {git, "https://github.com/Vagabond/rebar3-eqc-plugin", {branch, "master"}}}
  %% rebar3_eqc
 ]}.

{cover_export_enabled, true}.
{cover_enabled, true}.
{cover_opts, [{verbose, true}]}.
%{cover_excl_mods, [fakecast, basic_SUITE, basic_eqc, test_handler]}.

{deps, [
        lager,
        {rocksdb, ".*", {git, "https://gitlab.com/Vagabond1/erlang-rocksdb.git", {branch, "adt/fix-batch-merge"}}}
       ]
}.

{dialyzer, [
            {warnings, [unknown]},
            {plt_apps, all_deps}
           ]}.
